div.style-selector {
    background: #fdfdfd;
    position: fixed;
    border-radius: 0 0 6px;
    font-size: 14px;
    font-weight: 400;
}
div.style-selector {
    width: 205px;
    top: 150px;
    left: -205px;
    z-index: 1002;
}
div.style-selector .selector-title {
    background: #46bfa9;
    color: #FFF;
    padding: 5px 0 5px 10px;
    margin: 0;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
}
div.style-selector .selector-title a {
    background-color: #46bfa9;
    display: block;
    height: 40px;
    position: absolute;
    right: -40px;
    top: 0;
    width: 40px;
    font-size: 20px;
    line-height: 38px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    border-radius: 0 6px 6px 0;
}
div.style-selector hr {
    border-color: #dddddd;
}
div.style-selector.advanced {
    width: 465px;
    left: -400px;
}
div.style-selector.advanced div.color-picker {
    display: block;
}
div.style-selector.advanced ul.options.colors {
    display: none;
}
div.style-selector .selector-title a i {
    margin-right: 5px;
}
div.style-selector .fa-spin.fa-spin-reverse {
    -moz-animation-direction: reverse;
    -o-animation-direction: reverse;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
div.style-selector .icon-wrap {
    width: 9em;
    height: 9em;
    font-size: 0.2em;
    background: #46bfa9;
    position: relative;
}
div.style-selector .icon-wrap i {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 4em;
    text-align: center;
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}
div.style-selector .icon-wrap i:nth-child(2) {
    font-size: 6em;
    top: 0.55em;
    left: 0.25em;
}
div.style-selector .icon-wrap i:nth-child(3) {
    font-size: 3em;
    top: 0.65em;
    left: 1.8em
}
div.style-selector .selector-title a:hover {
    text-decoration: none;
}
div.style-selector div.options-links {
    padding: 0 0 10px;
}
div.style-selector div.options-links a {
    background-color: #fff;
    border: 1px solid #46bfa9;
    color: #46bfa9;
    margin-bottom: 0;
    margin-right: 5px;
    padding: 5px 12px;
    text-decoration: none;
}
div.style-selector div.options-links a:hover {
    background-color: #46bfa9;
    color: #fff;
}
div.style-selector div.options-links a.active {
    background-color: #46bfa9;
    color: #fff;
}
div.style-selector div.style-selector-mode {
    padding: 10px 0;
    margin-bottom: -25px;
    position: relative;
    z-index: 1;
}
div.style-selector div.options-links.mode {
    display: table;
    table-layout: fixed;
    width: 100%;
}
div.style-selector div.options-links.mode a {
    display: table-cell;
    width: 100%;
    background-color: #e8e8e8;
    text-align: center;
    border: 1px solid transparent;
    color: #302e38;
}
div.style-selector div.options-links.mode a:hover {
    color: #46bfa9;
}
div.style-selector div.options-links.mode a.active,
div.style-selector div.options-links.mode a.active:hover {
    color: #46bfa9;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
}
div.style-selector div.style-selector-wrap {
    padding: 10px;
    position: relative;
    border: 1px solid #dddddd;
    border-top-color: transparent;
}
div.style-selector h5 {
    margin: 0 0 5px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    font-weight: 700;
}
div.style-selector ul.options {
    list-style: none;
    margin: -3px 0 10px 0;
    padding: 0;
    overflow: hidden;
}
div.style-selector ul.options li {
    float: left;
    margin: 2px;
}
div.style-selector ul.options li a {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
div.style-selector ul.options li a .triangle-topleft {
    display: block;
    width: 100%;
    height: 100%;
    border-top-width: 40px;
    border-top-style: solid;
}
div.style-selector ul.options li a.pattern {
    background-repeat: repeat;
    background-position: 0 0;
    background-color: transparent;
}
div.style-selector div.color-gradient {
    position: absolute;
    top: 14px;
    right: 25px;
    font-size: 13px;
}
div.style-selector div.color-gradient input {
    margin-right: 5px;
    position: relative;
    top: 2px;
}
div.style-selector div.color-gradient label {
    font-weight: 400;
    color: #999;
}
div.style-selector.advanced div.color-gradient {
    top: 15px;
    right: 20px;
    font-size: 14px;
}
div.style-selector.advanced div.color-gradient label {
    color: #FFF;
}
div.style-selector div.color-picker {
    display: none;
    margin-bottom: 15px;
}
div.style-selector div.color-picker input {
    font-size: 9px;
    font-family: Open Sans, sans-serif;
    color: #dddddd;
    top: 4px;
    height: 13px;
    right: 12px;
}
div.style-selector div.layout.options-links a,
div.style-selector div.website-type.options-links a {
    text-align: center;
    min-width: 55px;
    display: inline-block;
}
.noo-buy-now {
    position: fixed;
    bottom: -70px;
    right: 20px;
    z-index: 99999;
    opacity: 0.8;
    text-align: center;
}
.noo-buy-now span {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}
@media (max-width: 992px) {
    .noo-buy-now {
        width: 140px;
        right: 10px;
    }
}