:focus { outline: 0 } 
:link, :visited { text-decoration: none } 
/* clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* aside */
aside { float: left; max-width: 220px;}
.inside { background-color: #f4f4f4; padding: 10px; }
#sidebar.sticky { float: none; position: fixed; top: 20px; z-index: 6; left: auto; }


