<style>
ul li{float:left; list-style:none; padding:10px; border:1px #ddd solid;}

ul li ul{
}

ul li ul li{
display:inline;
}
</style>
<ul id="menu">
	<li>Home
		<ul>
			<li>Home 1</li>
			<li>Home 2</li>
			<li>Home 3</li>
			<li>Home 4</li>
		</ul>
	</li>
	<li>Service</li>
	<li>Portfolio</li>
	<li>Contact Us</li>
</ul>