/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 29, 2014, 1:05:11 PM
    Author     : Niranjan
*/
/* My Account Page */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
a {
    text-decoration: none;
}
.account-page p {
    line-height: 18px;
    color: #616161;
}
.account-page h2 {
    display: inline-block;
    margin-bottom: 4px; 
    color: #191919;
    text-transform: uppercase;
    font-size: 110%;
}
.account-page h1 {
    position: relative;
    font: 200% primary;
    color: #16a6b0;
    text-transform: uppercase;
    margin: 5px 0; 
}
.account-page h1 span {
    position: absolute;
    color: #454545;
    right: 0;
}
.account-page h1 label {

    color: #969696;
    right: 0;
}

.heading-account {
    max-width: 100%;
    padding: 25px 0 0 0;
    background: url(http://cdn.shopclues.com/images/ui/accountpage-content-border.png) left top no-repeat;
}
.half-heading-account {
    max-width: 100%;
    padding: 25px 0 0 0;
    background: url(http://cdn.shopclues.com/images/ui/accountpage-header-half.png) left top no-repeat;
}
.bucks-tag {
    font: 110% primary;
    padding: 0 10px;
    color: #16a6b0;
    vertical-align: middle;  
}
.cluesbucks div {
    display: block;    
}

.cluesbucks div .num-cluesbucks {
    display: inline-block;
    width: 25%;
    margin-right: 12%;
}
.cluesbucks div .num-cluesbucks:nth-child(3) {margin-right: 0;}

.cluesbucks div .box {
    display: inline-block;
    width: 100%;
    height: 130px;
    line-height: 130px;
    background: #cdcdcd; /* Old browsers */
    background: -moz-linear-gradient(top,  #cdcdcd 0%, #e8e8e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdcdcd), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cdcdcd 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cdcdcd 0%,#e8e8e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cdcdcd 0%,#e8e8e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cdcdcd 0%,#e8e8e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
    border-right: 1px solid #a39b9b;
    border-bottom: 2px solid #a39b9b;
    font-size: 600%;
    color: #7c7c7c; 
    text-shadow: 1px 1px 1px #fff;
    text-align: center;

}
.cluesbucks div .box:last-child {margin-right: 0;}
.cluesbucks div span {
    display: inline-block;
    margin: 10px 8% 10px 0;
    font: 120% primary;
    text-transform: uppercase;
}
.cluesbucks div span:last-child {margin-right: 0;}
.cluesbucks p {
    display: block;
    margin-bottom: 15px;
}
.cluesbucks div .cls_bcks_exo{
    text-align: center;
    color: #302F2F;
    width: 100%;
    border-right: 1px solid #a39b9b;
}
.account_table {
    border-collapse:collapse;
    width: 100%;
    border: 1px solid #dcd9d9;
    border-bottom: 0;
    border-right: 0;
    line-height: 18px;
    }
   .address-book .account_table {
    width: 100%;
    border: 1px solid #dcd9d9;
    border-bottom: 0;
    border-right: 0;
    line-height: 18px;
}
.account_table tr:nth-child(even) {background: #f9f9f9}
.account_table tr:nth-child(odd) {background: #FFF}
.account_table tr:last-child td {
    padding: 15px 0 25px 15px;
    color: #3d3d3d;

}
    .account_table td {
        padding: 15px 0 20px 15px;
        border-right: 1px solid #dcd9d9;
        border-bottom: 1px solid #dcd9d9;
        color: #777676;
        font-weight: bold !important;
        max-width: 250px;
        vertical-align: top;
    } 
    .account_table td.special {
        padding: 15px 0 30px 10px;
        vertical-align: top;
    } 
    .account_table :last-child td.special {
        padding: 15px 0 25px 10px;
        vertical-align: top;
        
        
    } 
    .account_table th {
        padding: 12px 0 12px 15px;
        background: #dae9ed !important;
        border-right: 1px solid #dcd9d9; 
        text-align: left;
        font: 150% primary;
        text-transform: uppercase;
        color: #5e5d5d;
        width: auto;
        text-shadow: 2px 1px 1px #fff;
        
    }
    .account_table th span {display: block; color: #616161; font: 10px arial;}
    .account_table td a{
        color: #0ba0e6;
        text-decoration: none;        
    }
    
    
    /* Account Aside left Menu/Categories */
.site-categories ul li a.my-account {background: url(http://cdn.shopclues.com/images/ui/sprite-vertical.png) 183px -1207px no-repeat !important;}
.site-categories ul li a.address-book {background: url(http://cdn.shopclues.com/images/ui/sprite-vertical.png) 185px -885px no-repeat !important;}
.site-categories ul li a.order-history {background: url(http://cdn.shopclues.com/images/ui/sprite-vertical.png) 185px -916px  no-repeat !important;}
.site-categories ul li a.feedback {background: url(http://cdn.shopclues.com/images/ui/sprite-vertical.png) 185px -948px no-repeat !important;}
.site-categories ul li a.cluesbucks {background: url(http://cdn.shopclues.com/images/ui/sprite-vertical.png) 185px -978px no-repeat !important;}
.site-categories ul li a.favourite-stores {background: url(http://cdn.shopclues.com/images/ui/sprite-vertical.png) 185px -1009px no-repeat !important;}
.site-categories ul li a.messages {background: url(http://cdn.shopclues.com/images/ui/sprite-vertical.png) 185px -1038px no-repeat !important;}
.site-categories ul li a.wishlist {background: url(http://cdn.shopclues.com/images/ui/sprite-vertical.png) 185px -1066px no-repeat !important;}
.site-categories ul li a.return-request {background: url(http://cdn.shopclues.com/images/ui/sprite-vertical.png) 185px -1092px no-repeat !important;}
.site-categories ul li a.bank_account {background: url(http://cdn.shopclues.com/images/ui/sprite-vertical.png) 185px -1235px no-repeat !important;}
.site-categories ul li a.profile-details {background: url(http://cdn.shopclues.com/images/ui/sprite-vertical.png) 185px -1123px no-repeat !important;}
.site-categories ul li a.downloads {background: url(http://cdn.shopclues.com/images/ui/sprite-vertical.png) 185px -1154px no-repeat !important;}
.site-categories ul li a.checkout {background: url(http://cdn.shopclues.com/images/ui/sprite-vertical.png) 185px -1184px no-repeat !important;}
    .site-categories > ul > li > a.signout {
        color: #16a6b0;
        background-color: #ccc;
        padding-left: 40% !important;
    }
    .site-categories > ul > li a.first {
        color: #191919;
        background-color: #ccc;
        cursor: auto;
        padding-left: 30% !important;
    }
    .site-categories > ul > li > a.signout:hover, .site-categories > ul > li a.first:hover {
        background-color: #ccc !important;
        background: none;
    } 
    .site-categories > ul > li a.first:hover {
        box-shadow: none;
    } 

    
    
    .track-order {
        display: block;
        padding: 7%;
        background: #dae9ed; 
        border-bottom: 1px solid #bdbaba;
    }
    .track-order h1 {
        position: relative;
        display: block;
        font: 120% primary;
        text-transform: uppercase;
        margin-bottom: 8px;
        color: #191919;
    }
    .track-order h1 span .h1 {
        position: absolute;
        display: inline-block;
        right: 0;
        color: #454545;
        
    }
    .track-order input[type="tel"] {
        width: 78%;
        padding: 6px 4px;
        border: 1px solid #ccc;
        color: #333;
        
    }
    .track-order input[type="submit"] {
        width: 15%;
        padding: 6px;
        background: #000;
        color: #fff;
        border: none;
        cursor: pointer;
        
    }
    .form {margin-bottom: 8px;}
    .form .row {display: block; margin-bottom: 8px; position: relative;}
    .form .row label {
            width: 15%;
            display: inline-block;
         }
    .form .row label.chkout-option-lbl {
            width: auto;
            margin-top: 6px;
            vertical-align: top;
         }     
         
         .form .row input[type="text"], .form .row input[type="password"], .form .row input[type="tel"], .form .row span.fixed_mail{
             width: 60%;
             display: inline-block;
             padding: 13px 6px;
             border: 1px solid #ccc;
             background: #fff;
             color: #8d8d8d;
             -moz-box-shadow:    inset 0 1px 8px #e4e3e3;
             -webkit-box-shadow: inset 0 1px 8px #e4e3e3;
             box-shadow:        inset 0 1px 8px #e4e3e3;
         } 
         .account-page .col-r input[type="checkbox"]{
             margin-left: 8%;
             vertical-align: middle;
         }
         
         .account-page .chekbox {
            display: inline-block;
            width: 11px;
            height: 11px;
            margin-right: 4px;
            border: 1px solid #000;
            
         }
         
         .account-page .col-r span {
             margin-left: 6px;
             vertical-align: middle;
             
         }
         .account-page .col-r .merchant-msg-head {
             display: inline-block;
             padding: 8px 0;
}
         
         
    .form .row input[type="text"]:focus {
             border: 1px solid #adadad;
    }
    .form .row select {
        width: 100%;
        color: #7b7a7a;
        padding: 13px 5px;
        border: 1px solid #d7d6d6;
        -moz-box-shadow:    inset 0 1px 8px #e4e3e3;
        -webkit-box-shadow: inset 0 1px 8px #e4e3e3;
        box-shadow:        inset 0 1px 8px #e4e3e3;
    }
    
    .form .row select.select {
        width: 100% !important;
        margin: 0 1% 1%;
        padding: 13px 5px;
        border: 1px solid #d7d6d6;
        -moz-box-shadow:    inset 0 1px 8px #e4e3e3;
        -webkit-box-shadow: inset 0 1px 8px #e4e3e3;
        box-shadow:        inset 0 1px 8px #e4e3e3;
    }
    .form .row select.chek-option-select {
        width: 20%;
        margin: 0 2% 20px 1%;
        padding: 3px;
        
    }
.form .row label.p{ width: 100%; display: inline; margin-left: 10px;}

.form .row span {
    display: block;
    font-size: 120%;
    margin: 15px 0 10px 0;
    text-decoration: none;
    }
   .form .span {margin-left: 10px;}
   .form a {text-decoration: none;}
   .form .row .mandatory {font-size: 95%; text-decoration: underline;}
   .form-action {display: inline;}
   .form-action .acc_button {
        padding: 7px 36px;
        background: #9a9a9a;
        font: 160% primary;
        text-transform: uppercase;
        border-bottom: 2px solid #767676;
        border-top: none;
        border-right: none;
        border-left: none;
        cursor: pointer;
        color: #fff;
        text-shadow: 0 1px 0 #000;
        vertical-align: top; 
   }
   .form-container {
        width: 83.6%;
        display: inline-block;
}
   
   .form .row .subject {
        width: 50%;
        display: inline;    
   }
.form a{
        font-weight: bold;
   }
   .site-categories > ul > li > a.my-account, .site-categories > ul > li > a.address-book, .site-categories > ul > li > a.order-history, .site-categories > ul > li > a.feedback, .site-categories > ul > li > a.cluesbucks, .site-categories > ul > li > a.favourite-stores, .site-categories > ul > li > a.messages, .site-categories > ul > li > a.wishlist, .site-categories > ul > li > a.return-request, .site-categories > ul > li > a.profile-details, .site-categories > ul > li > a.downloads, .site-categories > ul > li > a.checkout, .site-categories > ul > li > a.signout,  .site-categories > ul > li > a.bank_account, .site-categories > ul > li a.first{
        font: 125% primary;
        text-transform: uppercase;
   }
   /*.form .row .date {
       display: inline-block;
       position: absolute;
       right: 0;
       
     } */
     .form .row .specification {
         display: block;
         margin: 15px 0 15px 15%;
     }
     .form .row .specification h3 {
         padding: 10px 0;
         font-weight: bold;
         border-bottom: 1px dotted #9a9a9a;
         font-size: 100%;
     }
      .form .row .specification span {
          font-size: 100%;
        }
      .form .row .date {
        display: block;
        position: null;
        font-style: italic;
        color: #777676;
       
     }
     .form .row .date.right {
         position: absolute;
         right: 0;
       
     }
     .form .row .textarea {
         display: block;
         margin: 30px 0 15px 15%;
         
     }
     .form .row .textarea span {
         font-size: 95%;
         color: #2d2d2d;
     }
     .form .row .textarea textarea {
        display: block;
        width: 50%;
        padding: 5px 10px;
        border: 1px solid #ccc;
        background: #fff;
        color: #8d8d8d;
        -moz-box-shadow:    inset 0 1px 8px #e4e3e3;
        -webkit-box-shadow: inset 0 1px 8px #e4e3e3;
        box-shadow:        inset 0 1px 8px #e4e3e3;
     }
     .form .row .textarea .form-button {
         margin-left: 36%
     }
     .form .row .textarea .acc_button {
            padding: 6px 36px;
            background: #9a9a9a;
            font: 155% primary;
            text-transform: uppercase;
            border-bottom: 2px solid #767676;
            border-top: none;
            border-right: none;
            border-left: none;
            cursor: pointer;
            color: #fff;
            text-shadow: 0 1px 0 #000;
            margin-left: 6px;
     }
     /*for disabling the mobile class*/
     .mobile {
        display: none !important;
     }
.account-page .col-l {
         display: inline-block;
         width: 45%;
         margin-right: 9%;
         margin-top: 30px;
         margin-bottom: 20px
     }
     .account-page .col-r {
         width: 45%;
         display: inline-block;
         margin-top: 30px;
         vertical-align: top;
         
     }
     .account-page h4 {
         display: inline-block;
         font-size: 16px;
         color: #3f3f3f;
         margin: 10px 0;
         margin-bottom: 10px;
     }
     .account-page h5 {
    display: block;
    margin: 0;
    font: 150% primary;
    color: #565656;
    text-transform: uppercase;
}
     .form .row input.spl-input {
         width: 97%;
         margin-bottom: 10px;
     }
     .form .row input.spl-nonactive-input, .form .row select.spl-nonactive-input {
         width: 98%;
         margin-bottom: 10px;
         background: #f1f1f1;
         -moz-box-shadow:    inset 0 1px 8px #dad9d9;
         -webkit-box-shadow: inset 0 1px 8px #dad9d9;
         box-shadow:        inset 0 1px 8px #dad9d9;
     }
     .form .row label.label {
         width: 50%;
         display: block;
         margin: 10px 0;
     }
     
     .account-page .tabs {
        position: relative;
        margin-bottom: -1px;
        background: none;
     }
     .account-page .tabs .cm-js {
         
         display: inline-block;
         padding: 13px 20px !important;
         margin-right: 5px;
         color: #333;
         border: 1px solid #b4b3b3;
         font-weight: bold;
         background: #dedede !important; /* Old browsers */
        background: -moz-linear-gradient(top, #dedede 0%, #f3f3f3 100%) !important; /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedede), color-stop(100%,#f3f3f3)) !important; /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #dedede 0%,#f3f3f3 100%) !important; /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #dedede 0%,#f3f3f3 100%) !important; /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #dedede 0%,#f3f3f3 100%) !important; /* IE10+ */
        background: linear-gradient(to bottom, #dedede 0%,#f3f3f3 100%) !important; /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */

     }
     .account-page .tabs .cm-js.cm-active {
         
        background: #f3f3f3 !important; /* Old browsers */
        background: -moz-linear-gradient(top, #f3f3f3 0%, #d2d0d0 100%) !important; /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#d2d0d0)) !important; /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #f3f3f3 0%,#d2d0d0 100%) !important; /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #f3f3f3 0%,#d2d0d0 100%) !important; /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #f3f3f3 0%,#d2d0d0 100%) !important; /* IE10+ */
        background: linear-gradient(to bottom, #f3f3f3 0%,#d2d0d0 100%) !important; /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#d2d0d0',GradientType=0 ); /* IE6-9 */

     }
     .account-page .tabs .cm-js a {
         color: #313131;
         text-decoration: none;
         padding: 0;
         background: none !important;
         height: auto;
     }
     .communication-link {
         display: block;
         text-align: right;
         margin-bottom: 2px;
           
         
     }
     .communication-link a{
         text-decoration: none;
         
     }
     .right-button {
       display: inline-block;
       float: right;
       border: none;
       margin-bottom: 5px;
       margin-left: 4px;
     }
     
     .right-button.print{
         
         right: 0px;
        
         background: #9e9e9e;
         border-bottom: 2px solid #7a7a7a;
     }
     .right-button.reorder{
         
         right: 13.4%;
         background: #828080;
         border-bottom: 2px solid #6e6e6e;
         
     }
     .tab-container {
         display: block;
         padding: 40px 30px;
         border: 1px solid #c7c7c7;
     }
     .top-content {
         display: block;
         margin-bottom: 30px;
     }
     .top-content .col {
         max-width: 28%;
         display: inline-block;
         padding-right:12%;
         vertical-align: top;
           
     }
     .top-content .col p {
         font-size: 165%;
         color: #4d4d4d;
         font-weight: bold;
         line-height: 20px;
     }
     .tab-container h4 {
         display: block;
         padding: 5px 0;
         margin: 20px 0;
         font-size: 120%;
         border-bottom: 1px solid #cdcdcd;
       } 
       .account-content {
           display: inline-block;
           max-width: 58%;
           margin-bottom: 20px;
           
       }
       .account-content span{
           display: block;
           margin: 2px 0 20px 0;
       }
       .account-content strong{
           font-size: 140%;
           font-weight: bold;
       }
       .account-content a {
           font-weight: bold;
            text-decoration: none;
            margin-top: 15px;
            display: inline-block;
       }
        .myaccount-top-icon {
           display: inline-block;
           width: 65px;
           height: 150px;
           vertical-align: top;
           margin-left: 22.4%;
       }
       .myaccount-top-icon.cluesbuck-icon {
           background: url(http://cdn.shopclues.com/images/ui/sprite.png) 0 -321px no-repeat;
       }
       .myaccount-top-icon.feedback-icon {
           width: 84px;
           background: url(http://cdn.shopclues.com/images/ui/sprite.png) 0 -524px no-repeat;
       }
       .box-profile-stores {
           position: relative; 
           display: block;
           padding: 0 0 15px 0;
           margin-bottom: 12px;
           border-bottom: 1px solid #d7d6d6;
       }
       .box-profile-stores label {
           display: block;
           font-weight: bold;
           margin-bottom: 4px;
        }
        .box-profile-stores span{
            line-height: 17px;
        }
        .box-profile-stores .fs-name {
            display: inline-block;
            width: 34%;
                
        }
        .box-profile-stores  a {
            font-weight: bold;
            text-decoration: none;
        }
        .star-rating {
            display: inline; 
        }
       .star-rating img {
            margin: 0 2px;
        }
        .box-profile-stores img {
            display: inline;
            margin-right: 2%;
            vertical-align: middle;
        }
        .box-profile-stores .trm {
            display: inline;
            margin-left: 4%;
        }
        .box-profile-stores.less-margin {
            margin: 4px 0;
            padding-bottom: 5px;
        }
    .col-container {
    display: inline-block;
    width: 21%;
    margin-right: 4.3%;
    vertical-align: top;
}
.col-container:nth-child(4n){

    margin-right: 0;
}
.col-container .img-box img{
    padding: 5%;
    margin-bottom: 12px;
    background: #efefef;
    border: 1px solid #d2d2d2;
    width: 90%;
}
.col-container .text-box {
    text-align: center;
    margin-bottom: 20px;
}
.text-box .wlist-price-box{
    height: 60px;
    margin-top: 0 !important;
}
.col-container a {
    text-decoration: none;
    line-height: 18px;
}
.col-container span {
    display: block;
}
.actual-price {
    font: 160% primary;
    text-transform: uppercase;
}
.whishlist-price1 {
    font: 160% primary; 
    text-transform: uppercase;
 }
.whishlist-price2 {
    font-size: 90%; 
    text-transform: uppercase;
    color: #7b7a7a;
}
.whishlist-price3 {
    font: 180% primary; 
    text-transform: uppercase;
    color: #7b7a7a;
    color: #b20101;
}
.line-through {text-decoration: line-through;}
.button-full {
    width: 100%;
}
.button-wishlist {
    display: inline;
    float: right;
    margin-right: 2px;

}
.rating-txt {
    display: block;
    margin-top: -5px;
    font-size: 90%;   
}
.trm-img-yellow {
    display: inline-block;
    text-align: right;
    
}
.merchant-rating-box {
    display: inline-block;
    margin-right: 23%;
    vertical-align: top;
}
.close-btn {
    display: block;
    text-align: center;
    margin: 10px 45px 30px;
}
.feedback-container {
    
    display: block;
    margin-top: 60px;
    text-align: center;
}

.feedback-box {
    
display: inline-block;
width: 26%;
padding: 8px;
margin-right: 1%;
background: #c7c7c7;
border-right: 1px solid #A39B9B;
border-bottom: 2px solid #A39B9B;
font-size: 300%;
color: #4b4b4b;
text-shadow: 1px 1px 1px #FFF;
border-radius: 10px;
}
.feedback-box span {
    display: block;
    font-size: 90%;
    font-weight: bold;
    cursor: pointer;
}
.feedback-box label {
    display: block;
    font-size: 60%;
    cursor: pointer;
}
.date-right {
    display: block;
    text-align: right;
    color: #767676;
}
.feedback-col-l {
    display: inline-block;
    width: 64%;
    margin: 0 0 20px 0;
    padding: 0 2% 0 0;
    background: url('../images/sprite-icons.png') no-repeat scroll -654px -420px transparent;
    vertical-align: top;
       
}
.feedback-col-r {
    display: inline-block;
    width: 33%;    
}
.feedback-col-r .heading-link {display: block; margin-bottom: 10px; text-decoration: none; font-size: 110%;  font-weight: bold;}
.feedback-product {
    display: inline-block;
    margin: 0 10px 10px 0;
}
.feedback-product .text-container {
    display: block;
    text-align: center;
}
.feedback-product img {
    margin-bottom: 10px;
    padding: 2px;
    border: 1px solid #d7d6d6;
    
}
.feedback-product .text-container a{text-decoration: none;}
.feedback-product .text-container span {display: block; margin: 4px 0; color: #5e5d5d;}
.feedback-product .text-container label {display: block; margin: 4px 0; color: #9a9a9a;}
.merchant-rating-container {
    width:62%;
    display: inline-block;
    vertical-align: top;
}
.merchant-rating-container-r {
    width:99% !important;
}

.merchant-rating-container label {display: inline-block; color: #313131; width: 40%; line-height: 20px;}
.merchant-rating-container h1 {
    margin: 0 0 10px 0;
    color: #3d3d3d;
    text-transform: capitalize;
    font-size: 110%;
    font-family: arial;
    font-weight: bold;
}
.merchant-rating-container h1 p {
    display: inline-block;
    color: #393939;
    font-size: 90%;
    font-weight: bold;
}

.merchant-rating-container span {
    display: block;
    color: #7c7c7c;
}
.resize-tab {
    width: 100%;
    display: block;
    margin: 10px 0;
    text-align: right;
}
.label {display: block; color: #8d8d8d; }
.span {display: inline-block; color: #2d2d2d; margin: 2px 0;}
.per_info_lbl{display:block;}
.per_info_h2{display:block !important ;}
.account_table tr td.none-border {border-right: none;}
.account_table tr th.none-border {border-right: none;}
.account_table tr th.large {width: 38%;}
.account_table tr th.large1 {width: 32%;}
.account_table-button {
    margin: 2px 8px
}
.address_book_checkbox {
    padding-right: 5px;
    vertical-align: text-bottom;
}
.account_table .text-right {text-align: right; padding-right: 10px;}
.account_table .text-right-button {position: absolute; right: 3%;}
.height{
    height: 15px;
    padding: 5px 0px 5px 10px;
}
.column-box {
    display: inline-block;
    width: 25%;
    margin-right: 5%;
    
    vertical-align: top;
}
.column-box input[type="text"], .column-box select, .column-box input[type="tel"]{
    display: inline-block;
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #e2e0e0;
    background: #fff;
    color: #7b7a7a;
    -moz-box-shadow:    inset 0 1px 8px #ededed;
    -webkit-box-shadow: inset 0 1px 8px #ededed;
    box-shadow:        inset 0 1px 8px #ededed; 
}
.column-box select.width-full{
    width: 107%;
}
.column-box textarea {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #e2e0e0;
    background: #fff;
    color: #7b7a7a;
    -moz-box-shadow:    inset 0 1px 8px #ededed;
    -webkit-box-shadow: inset 0 1px 8px #ededed;
    box-shadow:        inset 0 1px 8px #ededed; 
}
.add-new {
   
    display: block;
    margin-top: 20px;
    vertical-align: top;
}
.rating-merch-bg {
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    background: #e9e9e9;
}
.merch-rating-txt {
    display: block;
    margin: 3px 0;
    color: #8d8d8d;
    font-size: 90%;
}
.merch-rating-subhead {
    display: block;
    margin: 0 0 15px 0;
    color: #000;
    font-size: 95%;
}
.merchant-star {
    margin: 10px 0px;
}
.merchant-star div {
    margin: 5px 0;
}
.merchant-star label {
    display: inline-block;
    vertical-align: top;
    margin: 4px 10px 4px 2px;
}
.merchant-feed-hist {
    position: relative; 
    display: block;
    margin-bottom: 50px;
}
.feedback-hist-nav {display: inline-block; margin-top: 38px;}

.feedback-hist-nav ul {list-style-type: none;}
.merchant-feed-hist ul li {
    display: block;
    margin: 26px 0;
    color: #363636;
}
.merchant-feed-data {
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    padding: 0 20px;
    color: #363636;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -web-border-radius: 5px;
    -o-border-radius: 5px;
    vertical-align: top;
}
.merchant-feed-data .row {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #d0d0d0;
    
}
.merchant-feed-data .colm {
    min-width: 16%;
    display: inline-block;
    margin-right: 9%;
}
.merchant-feed-data .row:first-child {
    font-weight: bold;
}
.merchant-feed-data .row:last-child {border-bottom: none;} 
.merchant-feed-data .colm:last-child {margin-right: 0;}
.merchant-details {
    width: 24%;
    position: absolute;
    display: inline-block;
    right: 0;
    padding: 10px;
    background: #e1e1e1;
    vertical-align: top;
    border: 1px solid #cacaca;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -web-border-radius: 5px;
    -o-border-radius: 5px;
}
.merchant-details h1 {margin-bottom: 20px; color: #262626; font: 120% arial; font-weight: bold; text-transform: capitalize; }
.merchant-details div {margin-bottom: 15px; color: #353535;}
.merchant-details span {
    display: block;
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 5px;
    color: #303030;
}
.rating-container {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

/*css used for coupne popup on myaccount homepage*/
.lightbox_overlay
{
 width:100%;
 height:100%;
 background-color:#000;
 opacity:0.5;
 -moz-opacity:.50;
 filter:alpha(opacity=50); 
 z-index:10000;
 position:fixed;
 left:0px;
 top:0px;
}
.lightbox_container
{
 /*background:rgba(255,255,255,.7);
 border-radius:20px;
 -moz-border-radius:15px;
 -webkit-border-radius:15px;
 border:1px solid #fff;*/
 height:335px;
 width:706px; 
 z-index:10001;
 position:fixed;
 left:50%;
 margin-left:-245px;
 top:174px;
}

.lightbox_container .lightbox_container_close
{
 position:absolute;
 margin-left:507px;
 margin-top:-12px;
 z-index:10002;
 background:url(images/skin/sprite_png_icon.png) -74px -1px no-repeat; 
 height:30px;
 width:31px;
 cursor: pointer;
}
.lightbox_container .lightbox_container_bg
{
 float:left;
 display:inline;
 background: left top no-repeat;
 width:675px;
 height:331px;
}
.lightbox_container .lightbox_container_coupon_bg
{
    width: 500px;
float: left;
background: white url(images/skin/buyer_payment_bg.gif) center no-repeat;
border-radius: 5px;
-moz-border-radius: 5px;
padding: 10px;
border: 3px solid #444;
}
.lightbox_container .lightbox_container_label
{
 float:left;
 display:inline;
 font:20px trebuchet ms;
 color:#fff;
 margin-top:120px;
 margin-left:165px;
}
.lightbox_container .lightbox_container_textbox
{
 float:left;
 display:inline;
 font:15px trebuchet ms;
 color:#656366;
 margin-top:117px;
 margin-left:10px;
 padding:5px 5px 5px 5px;
 border-radius:5px;
 width:185px;
 border:0px;
 background-color:#fff;
}
.lightbox_container .lightbox_container_button
{
 float:left;
 display:inline;
 font:15px trebuchet ms;
 color:#fff;
 margin-top:117px;
 margin-left:15px;
 padding:5px;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border:0px;
/* background:url(images/skin/diwali_pop_up_btn.gif) no-repeat 0 0 ;
 width:223px;*/
 height:30px;
background:#0084b6;
}
.lightbox_container .lightbox_container_button:hover{background:#0587bb}

/*ended*/
/*css for order.search page*/
.expand_box{ display:none; background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 5px #C6EDFF;
    color: #666666;
    display: none;
    font: 11px/16px Verdana,Geneva,sans-serif;
    padding: 2px 10px;
    position: absolute;
    right: -24px;
    text-align: center;
    top: 12px;
    width: 150px;
    z-index: 10000;}
   .not_eligible{position:relative;}
   .not_eligible:hover .expand_box{ display:block}
   /*css for order.search page ends here*/
   /*css for cluebucks table red highlighted colour*/
   .abc td{color:#ff0000!important;}
   /*ended*/
   
   .acc_page_link{
       color: #5e5d5d !important;
   }
   /*for wishlist page button*/
   .wlist_button{
       width: 125%;
   }
   /*ended*/
   .account-page .info-field-title {
background-color: #dae9ed ;
}
.account-page .subheader{
display: inline-block;
font-size: 120%;
color: #424242;
margin: 10px 0;
margin-bottom: 10px;
background: none ;
padding: 0;
}
.col-container .wishlist-spn span{
    display: inline;
}
.account-page .list_orderhistory{
    margin-bottom: 3px;
}
.account-page .acc-spcl-button .button a{
border-radius: 0px !important;
background: rgb(154, 154, 154) !important;
}
.account-page .productStatus .aside_right{
    margin-left: 5% !important;
}
.account-page h4.tab-cntnr-h4{
    display: block;
    padding: 5px 0;
    margin: 20px 0;
    font-size: 120%;
    border-bottom: 1px solid #cdcdcd;
}
.account-page .form .label{ 
    font-weight: normal;
}
.account-page .pend-fb-lnk{
    text-align: center;
    width: 100%;
    float: right;
    margin-top: 10px;
}

.account-page .box_ProductReviews .box_ProductReviews_detail{min-width: 425px;float: left;width: initial;}

.account-page .box_ProductReviews .form-action{float: right; width: 195px;}

.account-page .merchant-rating-container .box_negativerating{margin-top: 0;}

.address_book_lbl_font label{font-weight: bold;}

.account-page .merchant_dtl_heading{font-size: 14px; font-weight: bold; margin-top: 8px;}

.account-page .order_info .nl_store_analytics_summary span.price{
    font-size: 165%;
    color: #4d4d4d;
    font-weight: bold;
    line-height: 20px;
}
.account-site-categories > ul > li > a{
    padding: 7px 7px 5px 24px !important;
}
.account-page .product-list-field label{
    font: bold 12px verdana;
}
.account-page .product-list-field{
    font-size: 100%;
}
.account-page .info-field label{
    font: normal 100% verdana, geneva, arial, helvetica, sans-serif;
    margin-top: 3px;
}
.rtrn_rqust_comm_pding{padding: 0 !important;}
/*start_here */
.products_search .ord_his_name{ padding: 5px 0 0 0;}
.products_search .ord_his_name table td{ border: 0; padding: 5px 0px 1px 5px;}
.products_search .ord_his_name  ul li{ padding: 0 5px 0 20px; }
.products_search tr:last-child td{  color: #777676;}
.products_search .products_last{padding: 5px 0 0 0!important ;}
.subheaders-group .acoount_products_box{}
.subheaders-group .acoount_products_box .right_side_content{ display: table-cell; vertical-align: top;}
.subheaders-group .acoount_products_box .left_side_img_box{ display: table-cell;}
.subheaders-group .acoount_products_box .left_side_img_box img { padding: 0 20px 0 0;}
.acoount_products_box .product-list-field label{margin-left: 0; width: auto!important;
  line-height: normal!important; padding-right: 10px;}
.acoount_products_box .product-list-field{ padding-left: 0;}
.products_search tr:nth-child(even){ background-color: #fff!important;}
.acoount_products_box tr:nth-child(even){ background-color: #fff!important;}
.order_details_option_payment{font: 12px verdana; min-width:240px; float:left; padding-top:25px}
.order_details_option_payment label{ float: left; padding-right: 5px;}
.ordr_details_pymnt_optns > tbody{ display: block;}
.ordr_details_pymnt_optns > tbody > tr{ display: block;} 
.ordr_details_pymnt_optns > tbody > tr td:nth-child(2){ float: right; padding-right: 5px;}

.alter_address {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.AccountContainer .para_return{
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    font-size: 12px;
}

.AccountContainer .para_return1{
    font-weight: normal;
    text-align: left;
    padding: 0 0 0 15px;
    color: #898484;
    font-size: 12px;
    line-height: 16px;
}

.alter_address ul {
  list-style: none;
  margin: 0 auto;
}

.alter_address ul li > span:nth-child(1) {
  width: 270px;
  color: #000;
  font-weight: normal;
  vertical-align: top;
  font-size: 14px;
  font-weight: 500;
}

.alter_address ul li > span {
  display: table-cell;
  position: relative;
}

.alter_address ul li {
  display: block;
  margin: 20px 15px 10px 15px;
}

.alter_address ul li span select {
  width: 282px;
  padding: 16px 10px;
  border: 1px solid #d5d5d5;
  color: #666666;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  background: url(http://cdn1.shopclues.com/images/ui/alternate_address_arrow.png) no-repeat 95% center;
}
.alter_address ul li span label {
  margin-right: 20px;
  display: inline-block;
  font-size: 14px;
  padding-left: 30px;
  color: #666666;
}

.alter_address ul li span textarea {
  width: 500px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100px;
  box-sizing: border-box;
  padding: 5px 5px;
}
.gray_font{font-size: 12px;color: #a8a8a8;width: 500px;line-height: 16px;padding: 5px 0;}
span.confirm_address {
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  padding: 0px 15px 15px 20px;
  box-sizing: border-box;
  width: 500px;
  overflow: hidden;
}

span.confirm_address p {
  line-height: 20px;
  padding: 0px 0;
  font-size: 14px;
  color: #3f3f3f;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

span.confirm_address h3 {
  padding: 20px 0 10px 0;
  font-size: 18px;
  color: #3f3f3f;
  font-family: 'Roboto', sans-serif;
}

span.confirm_address a {
  margin: 15px 0;
  display: inline-block;
  text-decoration: none;
  color: #489ad8;
  font-size: 14px;
}

.confirm_address .confirm_phone{font-size: 14px;margin: 10px 0;font-weight: 500;color: #3f3f3f;}
.alter_address ul li span input[type="radio"] {
  position: relative;
  top: -1px;
  margin-right: 3px;
}
.alter_address ul li span input[type="submit"] {
  border: none;
  color: #fff;
  background: #489ad8;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: normal;
  width: 160px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  float: left;
}
span.confirm_address.not_picked h2{margin: 0 -20px;font-family: 'Roboto', sans-serif;}
span.confirm_address.picked h2{margin: 0 -15px 0 -20px;}
.eligible_pickup .not_picked, .eligible_pickup .picked {
  border-radius: 5px;
}
.not_picked h2 {
  margin: 0;
  padding: 15px 10px 15px 60px;
  color: #f44336;
  font-size: 18px;
  font-weight: normal;
  position: relative;
  display:block;
  text-transform:none;
  border-bottom: 1px solid #f44336;
}
body .not_picked {
  border: 1px solid #F44336;
}
.not_picked h2:before {
  background: url("http://cdn.shopclues.com/images/ui/notification-sprite.png") no-repeat;
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 13px;
  left: 15px;
}
.picked h2 {
  margin: 0;
  /**padding: 15px 10px 15px 60px;**/
  padding: 15px 82px 15px 55px;
  color: #2ecc71;
  font-size: 18px;
  font-weight: normal;
  position: relative;
  text-transform: none;
  display: block;
  border: 1px solid #2ecc71;
}
.picked h2 {
  border: 1px solid #2ecc71;
  border-radius: 5px;
}
.picked h2:before {
  background: url('http://cdn.shopclues.com/images/ui/notification-sprite.png?reset=11') no-repeat 0 -38px;
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -2px;
  left: 15px;
  bottom: 0;
  margin: auto;
}
span.confirm_address span {
  font-size: 12px;
  line-height: 20px;
}


.alter_address ul li > span h4 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #3f3f3f;
}

.alter_address ul li > span > p {
  line-height: 20px;
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #3f3f3f;
  padding-bottom: 10px;
}
.alter_address ul li > span > p > a {
  text-decoration: none;
  color: #489ad8;
}

/*start common css popup*/
.bulk_popup {
  display: none;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  background-color: rgba(0,0,0,0.8);
}
.bulk_popup .overlay {
  background: white none repeat scroll 0 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  width: 400px;
  height: auto;
}

.eligible_pickup .overlay{
  width: 830px;
  padding: 15px 0;
  box-sizing: border-box;
  border-radius: 5px;
  height: 550px;
  overflow-y: auto;
  font-family: 'Roboto', sans-serif;
}


.eligible_pickup .address_listiing {width: 620px;margin: 0 auto;}
.eligible_pickup .address_listiing .info {
  display: block;
  position: relative;
  overflow: hidden;
}
.eligible_pickup .address_listiing .info .links {
  position: absolute;
  text-align: right;
  right: 0px;
  margin-top: 3px;
}
.eligible_pickup .address_listiing .info .links a {
  display: inline-block;
  text-decoration: none;
}
.eligible_pickup .address_listiing .info .links a:first-child {
  margin-right: 25px;
}
.eligible_pickup .address_listiing .info .links a:hover {
  text-decoration: underline;
}
.eligible_pickup .address_listiing p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  float: left;
  width: 100%;
}
.eligible_pickup .address_listiing ul {
  list-style: none;
  margin: 20px 0px 5px 0px;
  padding: 0;
  display: block;
  box-sizing: border-box;
}

.eligible_pickup .address_listiing ul li {
  display: inline-block;
  border: #dddddd solid 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 15px 15px;
  width: 194px;
  height: 235px;
  margin-right: 1.5%;
  font-size: 14px;
  box-sizing: border-box;
}
.eligible_pickup .address_listiing ul li .select_address {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #353535;
}
.eligible_pickup .address_listiing ul li .select_address input {
  float: right;
}
.eligible_pickup .address_listiing ul li .select_address .regular-radio + label {
  padding: 5px 30px 5px 0px;
  font-size: 16px;
  color: #353535;
  font-weight: bold;
}
.eligible_pickup .address_listiing ul li .select_address .regular-radio + label::before {
  background-color: #e8eaeb;
  border: 5px solid #e8eaeb;
  width: 24px;
  height: 24px;
  left: inherit;
  right: 0px;
  margin-top: -5px;
}
.eligible_pickup .address_listiing ul li .select_address .regular-radio:checked + label:before {
  background-color: #ffffff;
  border-color: #eb7f00;
}
.eligible_pickup .address_listiing ul li .select_address .regular-radio:checked + label:after {
  display: none;
}
.eligible_pickup .address_listiing ul li h5 {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
}
.eligible_pickup .address_listiing ul li span {
  display: block;
  font-size: 12px;
    line-height: 20px;
    white-space: initial;
}
.eligible_pickup .address_listiing ul li .contact_no {
  margin-top: 10px;
  font-size: 14px;
}
.eligible_pickup .address_listiing ul li a {
  display: inline-block;
  margin-top: 25px;
  font-size: 14px;
}
.eligible_pickup .address_listiing ul li:last-child {
  margin-right: 0;
}
.eligible_pickup .address_listiing ul li:hover {
  border: #eb7f00 solid 1px;
  box-shadow: #ccc 1px 1px 3px 1px;
}
.eligible_pickup .address_listiing ul > .active {
  box-shadow: #ccc 1px 1px 3px 1px;
}
.eligible_pickup .address_listiing ul li.active{ border:1px solid orange;}

.eligible_pickup .address_listiing input {
  width: 220px;
  float: right;
}
.eligible_pickup .address_listiing a {
  text-decoration: none;
}
.eligible_pickup .address_listiing a:hover {
  text-decoration: underline;
}
.bulk_popup.eligible_pickup .address_listiing > h4 {
  font-size: 16px;
  margin-bottom: 5px;
}


.bulk_popup.eligible_pickup .address_listiing > p {
  font-size: 14px;
  padding-bottom: 5px;
  color: #3f3f3f;
}
.eligible_continue span:nth-child(1) a {
  font-size: 18px;
  color: #989898;
  border: 1px solid #989898;
  display: inline-block;
  padding: 7px 40px;
  border-radius: 5px;
  margin-right: 32px;
}

.eligible_continue {
  padding: 20px 0;
  clear: both;
}

.eligible_continue span:nth-child(1) a:hover {
  text-decoration: none;
}

.eligible_continue span:nth-child(2) a {
  color: #489ad8;
  font-size: 16px;
}
.eligible_continue span:nth-child(1) .orange_continue{color: #fff;border: 1px solid #eb7f00;background: #eb7f00;}

/*start owl crousel css*/
.owl-buttons > div{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 25px;
  height: 37px;
  background: url("http://cdn.shopclues.com/images/ui/owl_arrows.png") no-repeat;
  z-index: 9999999999;
}
.owl-prev{
  left: -50px;
}
.owl-buttons  .owl-next {
  right: -50px;
  background-position: -49px 0;
}
.address_listiing .owl-carousel .clickable{position: static;}
.owl-wrapper-outer{overflow: hidden;}
.address_listiing .owl-carousel{white-space: nowrap;overflow: hidden;}
.address_listiing .owl-carousel.owl-theme{overflow: inherit;}
.eligible_pickup .address_listiing .owl-carousel .item{
  width: 200px;
  display: inline-block;
}
/*end owl crousel css*/


/*checkout common css*/

.eligible_pickup *, .eligible_pickup * :before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.regular-radio {
  display: none;
}
.regular-radio + label {
  display: block;
  position: relative;
  padding: 5px 0 5px 30px;
  font-size: 14px;
  line-height: 15px;
  color: #000;
  font-weight: normal;
}
.regular-radio + label::before {
  background-color: #ffffff;
  border: 2px solid #aaaaaa;
  border-radius: 50px;
  display: inline-block;
  content: ' ';
  width: 20px;
  height: 20px;
  background-image: none;
  left: 0;
  position: absolute;
  top: 3px;
}
.regular-radio + label::after {
  background-color: #eb7f00;
  border: #ffffff solid 1px;
  background-image: none;
  border-radius: 50px;
  content: " ";
  height: 12px;
  width: 12px;
  position: absolute;
  left: 4px;
  top: 7px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms;
  z-index: 9;
}
.regular-radio:checked + label:before {
  background-color: #ffffff;
  border: 2px solid #eb7f00;
}
.regular-radio:checked + label:after {  
  -webkit-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  transform: scale(1) !important;
}

*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.description_block_div {
    background: #fff;
    color: #666;
    display: none;
    font-size: 12px;
    line-height: 15px; 
    margin-left: 298px;
    margin-top: -51px;
    padding: 10px 10px;
    position: absolute;
    width: 200px;
    box-sizing: border-box;
    border-width: 1px;
    border-color: rgb(235, 235, 235);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
    top: 30px;
}
.grey_text_msgs
{
    font-weight: normal;
    text-align: left;
    padding: 0;
    color: #a8a8a8;
    margin-left: 290px;
    width:53%;
    font-size: 12px;
    line-height: 16px;
}
.msg_ship_yourself
{
    display:none;
}
/*checkout common css*/

/*start eligible form*/
.eligible_form {
}
.eligible_form .add-address-sec {
    position: relative;
    padding: 0 40px;
}
.eligible_form .add-address-sec .form .form_address .input-group {
    position: relative;
    margin: 35px 0;
}
.eligible_form .add-address-sec .form .form_address .input-group input {border: none;border-bottom: 1px solid #dddddd;width: 100%;font-size: 14px;padding: 6px 0px;border-radius: 0;-webkit-appearance: none;outline: 0;}
.eligible_form .add-address-sec .form .form_address .input-group .jump {
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 6px;
}
.eligible_form .add-address-sec .form .form_address .input-group .jump .input-jump {
    color: #989898;
    margin: 0 0 0 10px;
    position: relative;
}
.eligible_form .add-address-sec .form .form_address .input-group .input-bar {
    display: block;
    position: relative;
    width: 100%;
}
.eligible_form .add-address-sec .form .form_address .input-group label {
    color: #393939;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    left: 0;
    max-width: 100%;
    position: absolute;
    top: 4px;
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -moz-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    pointer-events: none;
    
}
.eligible_form .add-address-sec .form .form_address .input-group .label-valid {
    color: #cacaca;
    font-size: 11px;
    left: 0;
    top: -20px;
}
.eligible_form .add-address-sec .form .form_address .input-group input:focus ~ label {
    color: #cacaca;
    font-size: 11px;
    left: 0;
    top: -20px;
}
.eligible_form .add-address-sec .form .form_address .input-group-t1 {
    display: block;
}
.eligible_form .add-address-sec .form .form_address .input-group-t1 label {
    color: #393939;
    display: inline-block;
    font-weight: normal;
    left: 0;
    max-width: 100%;
    pointer-events: none;
    position: relative;
    top: 4px;
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.eligible_form .add-address-sec .form .form_address .add-type {
    display: block;
    font-weight: bold;
    margin: 18px 0 36px;
}
.eligible_form .add-address-sec .form .form_address .add-type .add-choose {
    display: inline-block;
    margin-right: 5%;
}
.eligible_form .add-address-sec .form fieldset {
    border: 0 none;
} 
.eligible_form .add-address-sec .error-text {
    color: #db4105;
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
    margin-left: 0px;
    display: inline;
}
.add-address-sec h2 {font-size:16px;margin:10px 0;}
/*end eligible form*/
a.eligible_closed {
  position: fixed;
  right: 20px;
  top: 0px;
  font-size: 32px;
  color: #000 !important;
  z-index: 9;
}

.display_block{display: block !important;}

/*start common css*/
.btn {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  outline: none;
  width: 100%;
  padding: 12px 10px;
}
.btn:hover {
  opacity: 0.8;
  text-decoration: none;
}
.orange {
  background: #eb7f00;
  color: #ffffff !important;
}
.blue {
  background: #18a6b2 !important;
  color: #ffffff !important;
  display: block;
  text-decoration: none;
}
.blue_white {
  background: #ffffff;
  color: #18a6b2 !important;
  border: 1px solid #18a6b2;
  font-size: 16px;
}
.orange_white {
  background: #ffffff;
  color: #eb7f00 !important;
  border: 1px solid #eb7f00;
  font-size: 16px;
}
/*end common css*/

.eligible_pickup  .button_container span:first-child a{
  padding: 10px 40px;
  margin-right: 15px;
}
.eligible_pickup  .button_container {
  margin: 25px 0;
}

.address_msg {color:green; font-family: arial;font-weight: bold;}
.address_msg_error {color:red; font-family: arial;font-weight: bold;}
#faqs dd:before {margin-left:40px;}
dd p{margin-left: 31px; font-weight:normal;}  


/*** existing css ***/
.rma_return_image_span{background-color: #333;
                                color: #fff !important;
                                font-weight: bold;
                                display: inline-block !important;
                                padding: 3px 3px 3px 4px;
                                border-radius: 50px;
                                height: 10px;
                                width: 10px;
                                text-align: center;
                                line-height: 7px !important;
                                position: absolute;
                                right: -5px; top: -5px;}
        .rma_return_image_div{display: inline-block; position: relative; padding: 5px; background-color: #eee; margin-right: 15px;}
        .neft_block {min-height: 240px;background-image: none !important;margin-right: 10px !important;width: 270px;float: left;position: relative;}
        .edit_neft_detail {text-align: center;position: absolute;bottom: 0;margin: 10px 0 10px 0 !important;display: block;}
        .edit_neft_detail_span {background: #00A2B5;font-size: 13px;  padding: 10px 15px;  border: 0;  -webkit-border-radius: 3px;  -moz-border-radius: 3px; border-radius: 3px;  color:#fff!important;}
        .refund_all_address .add_nl_block .edit_neft_detail_span{color: #489ad8 !important;background: none;display: block;padding: 0;margin: 0 !important;font-weight: 500;}
        .add_neft_detail{margin: 0px 0!important; text-align:center;}
        .add_neft_detail a span{border: 0;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;margin-left: 0!important;color: #489ad8;text-align: right;line-height: 25px!important;font-size: 16px!important;padding: 0 0px;}
        #cod_order_case .add_nl_block.neft_block{width: 48%;box-sizing: border-box;margin-left: 4%;margin-right: 0 !important;background: none;border: 1px solid #d5d5d5;padding: 15px 15px;}
        .holder_accounts{margin-top: 15px;}
        .replacementNote
        {
            margin-left: 287px;
            padding:10px;
            color: #a8a8a8;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 500px;
            box-sizing: border-box;
            line-height: 16px;
            font-size: 12px;
        }
        .add-address-sec h2 {text-transform: capitalize; display: block;margin: 0px 0px 5px 0px;padding: 0;color: #353535;font-size: 20px;font-weight: 400;position: relative;}
.add-address-sec h3{color: #353535;font-size: 16px;font-weight: 400;margin-top: 15px;}

a.eligible_closed:hover{color: #fff;}
.blue1 {
  background: #18a6b2 !important;
  color: #ffffff !important;
}
.owl-prev.disabled{display:none;}
.owl-next.disabled{display: none;}

/*start new css * ************************* */
/*start product_ordered css*/
.product_ordered {
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 15px 15px;
  border-radius: 3px;
  padding: 15px 15px;
  box-sizing: border-box;
}
.left_product_ordered {
  float: left;
  width: 50%;
  padding-right: 35px;
  position: relative;
  box-sizing: border-box;
}

.right_product_ordered {
  float: left;
  width: 50%;
  border-left: 1px solid #ccc;
  padding: 15px 0 20px 35px;
  position: relative;
  top: 24px;
  box-sizing: border-box;
}

.right_product_ordered ul {
  list-style: none;
}
.left_product_ordered h3 {
  color: #00a2b5;
  font-size: 14px;
  font-weight: normal;
}
.product_ordered_details {
  width: 250px;
  margin: 0 auto;
}

.right_product_ordered ul li {
  line-height: 26px;
}
.txt_center{text-align: center;}
.right_product_ordered ul li span strong {
  color: #3f3f3f;
  padding-right: 10px;
}

.right_product_ordered ul li span {
  color: #666;
  font-size: 14px;
}
.product_ordered_details select {
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  width: 70px;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  background: #fff url(http://cdn1.shopclues.com/images/ui/alternate_address_arrow.png) no-repeat 85% center;
  padding: 5px 15px;
  background-size: 13px;
}
.product_ordered_details .txt_center img{width: 95px;height: 95px;}
.alter_address ul li > span.select_box:after {
  right: 15px;
  top: 18px;
  width: 20px;
  height: 20px;
}
.description_block_div:before {
  content: "";
  position: absolute;
  left: -14px;
  background: url(http://cdn.shopclues.com/images/ui/notification_arrow.png) no-repeat;
  width: 15px;
  height: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
}
/*end product_ordered css*/

/*start checkbox css*/
.custom_checkbox {
    position: absolute;
    left: 23px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 18px;
    height: 18px;
}
.custom_checkbox input[type="checkbox"] {
    display: none;
}

.custom_checkbox input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 1px solid #3076A9;
    border-radius: 1px;
    transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
}

.custom_checkbox input[type="checkbox"] + label {
    position: relative;
    height: 18px;
    width: 18px;
    display: block;
    border-radius: 3px;
}

.custom_checkbox input[type="checkbox"]:checked + label:before {top: 0;left: 0;width: 8px;height: 14px;border-top: 2px solid transparent;border-left: 2px solid transparent;border-right: 2px solid #fff;border-bottom: 2px solid #fff;-webkit-transform: rotate(40deg);transform: rotate(40deg);-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-transform-origin: 100% 100%;transform-origin: 100% 100%;}
.custom_checkbox input[type="checkbox"] + label:hover {
    cursor: pointer;
}
.custom_checkbox input[type="checkbox"]:checked + label{background: #00a2b5;}
/*end checkbox css*/

/*start upload option*/
.browse-wrap {
        top:0;
        cursor:pointer;
        overflow:hidden;
        padding: 10px 0 10px 35px;
        position: relative;
        display: inline-block;
        width: 140px;
        border-radius: 3px;
        right: 0;
        z-index: 9;
        border: 1px solid #d5d5d5;
        background: url(http://cdn.shopclues.com/images/ui/alternate_upload.png) no-repeat 15px 9px;
        margin-left: 15px;
        }
.upload_title {
        font-size:14px;
        color: #989898;
        font-weight: 400;
        padding-left: 10px;
        }
input.upload {
        right:0;
        margin:0;
        bottom:0;
        padding:0;
        opacity:0;
        outline:none;
        cursor:inherit;
        position:absolute;
        height: 39px;
        display: block;
        width: 100%;
        }
span.upload-path {
        text-align: center;
        display: inline-block;
        color: #333;
        position: relative;
        top: -16px;
        left: 5px;
}
/*end upload option*/
#cod_order_case {
  padding-left: 270px;
  margin: 15px 0;
}

#cod_order_case > .add_nl_block {
  width: 50%;
}

#cod_order_case .add_nl_block.neft_block:nth-child(2n+1) {
  margin-left: 0;
}
#cod_order_case .refund_all_address .neft_Account span:nth-child(1) {
  float: left;
  color: #3f3f3f !important;
  font-size: 15px !important;
  font-weight: bold;
  margin-left:0px !important;
}

.neft_Account span:nth-child(2) {
  position: absolute;
  right: -15px;
}
.holder_accounts span b {
  color: #3f3f3f;
  font-weight: normal;
}

.refund_all_address .add_nl_block .holder_accounts span {
  color: #989898 !important;
  font-size: 14px !important;
  padding: 0;
  margin: 7px 0 !important;
}
.bulk_popup.eligible_pickup .not_picked h2{border-bottom: 0px;}
.bulk_popup.eligible_pickup .not_picked h2:before{top:10px;}
.bulk_popup.eligible_pickup .picked h2:before {
  top: 0;
  background: url("http://cdn.shopclues.com/images/ui/notification-sprite.png?reset=1") no-repeat 0 -38px;
  left: 14px;
}
.disable_continue:hover {
  cursor: no-drop;
}
#rma_pic_div span:last-child {
  display: block;
  margin-left: 272px;
}
.ordered_upload {
  margin: 0px 0 20px -13px;
}
.eligible_form .add-address-sec .form .form_address .input-group:nth-child(2n+1) {
  margin-left: 0;
}
select#pickup_state {
  border: none;
  border-bottom: 1px solid #dddddd;
  outline: none;
  background: #fff url(http://cdn1.shopclues.com/images/ui/alternate_address_arrow.png) no-repeat 100% center;
  
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}
.type_address {
}

.eligible_form .add-address-sec .form .form_address .type_address.input-group label {
  margin-right: 20px;
  display: inline-block;
  font-size: 14px;
  padding-left: 30px;
  color: #666666;
  position: relative;
  pointer-events: auto;
}
.type_address span strong {
  font-size: 14px;
  position: relative;
  top: 4px;
  margin-right: 20px;
}

.hide_class_returns
{
    display:none;
}
.product_ordered *{font-family: 'Roboto', sans-serif !important}
.product_ordered_details label {
    font-size: 14px;
    color: #666666;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.image_upload_txt{
    font-weight: normal; text-align: left; padding: 0; color: #a8a8a8;font-size:12px;margin-top: -8px;line-height: 16px;padding-right: 95px;
}

.alter_address ul li > span > p.msg_ship_yourself1 {
    padding-right: 125px;
    box-sizing: border-box;
}
.alter_address *{font-family: 'Roboto', sans-serif !important}

.n-relogin{
  position: relative;
  background: #ffffff;
  margin: 20px auto 0;
  padding: 20px;
  border-top: 5px solid #16a6b0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}
.n-relogin form{
  margin: 0;
}
.n-relogin form ::-moz-placeholder{
  color:#535353;
}
.n-relogin form ::-webkit-input-placeholder{
  color:#535353;
}
.n-relogin h2 {
  margin: 0 0 10px;
  line-height: 1;
  color: #16a6b0;
  font: 160% primary;
  font-weight: 400;
  text-transform: uppercase;
}
.n-relogin input[type='text'], input[type="password"] {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 10px;
  padding: 10px 15px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ccc;
  font-family: "Roboto";
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-wieght: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.n-relogin input[type='radio'], input[type='checkbox']{
  outline: none;
  display: inline-block;
  width: auto;
  margin: 0 0 3px;
  padding: 10px 15px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ccc;
  font-family: "Roboto";
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-wieght: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.n-relogin input:focus {
  color: #535353;
  border: 1px solid #16a6b0;
}
.n-relogin button {
  cursor: pointer;
  background: #16a6b0;
  width: 100%;
  height:25px;
  padding:* 10px 15px;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.n-relogin button:hover {
  background: #108f98;
}
.n-relogin .choose-option{
  clear: both;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
.choose-option span{
  margin: 0 0 0 4px;
  color:#898989;
  font-size: 15px;
}
.n-relogin .enter-pass{
  width: 50%;
  float: left;
  display: inline-block;
}
.n-relogin .send-otp{
  width: 50%;
  float: left;
  display: inline-block;
}
.n-relogin .resend-otp{
  width: 100%;
  display: inline-block;
}
.eligible_pickup .overlay1{
  width : 400px;
  padding: 27px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  height: 250px;
  overflow-y: auto;
  font-family: 'Roboto', sans-serif;
  top :34%;
}
