/*--------------------------------------------------------------

Project:	JobMonster
Version:	1.0
Create:	12/08/2015
Author: TK-Themes
File: default.css

Yellow Color : #14b1bb

----------------------------------------------------------------*/

a:hover,a:focus,h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,.h1 a:hover,.h2 a:hover,.h3 a:hover,.h4 a:hover,.h5 a:hover,.h6 a:hover {
	color:#e6b706;
}

.text-primary {
	color:#e6b706;
}

.bg-primary {
	background-color:#e6b706;
}

.panel-primary {
  border-color: #14b1bb;
}

.panel-primary > .panel-heading {
  background-color: #14b1bb;
  border-color: #14b1bb;
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #14b1bb;
}
.panel-primary > .panel-heading .badge {
  color: #14b1bb;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #14b1bb;
}

.form-control-flat > .radio i,
.form-control-flat > .checkbox i {
  color: #14b1bb;
}

.form-control-flat .radio i:after {
  background: #14b1bb;
}
.form-group .dropdown .dropdown-menu > li > a:focus,
.form-group .dropdown .dropdown-menu > li > a:hover {
  background-color: #14b1bb;
}
.btn-primary,
.widget_newsletterwidget .newsletter-submit {
  background-color: #14b1bb;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.widget_newsletterwidget .newsletter-submit:hover,
.widget_newsletterwidget .newsletter-submit:focus,
.widget_newsletterwidget .newsletter-submit:active,
.widget_newsletterwidget .newsletter-submit.active,
.open > .dropdown-toggle.widget_newsletterwidget .newsletter-submit {
  background-color: #14b1bb;
}
.btn-link:hover,
.btn-link:focus {
  color: #14b1bb;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #14b1bb;
}
.noo-menu li > a:hover,
.noo-menu li > a:focus {
  color: #14b1bb;
}
.noo-menu li.current-menu-item > a,
.noo-menu li.active > a {
  color: #14b1bb;
}
.navbar-nav li > a:hover,
.navbar-nav li > a:focus {
  color: #14b1bb;
}
.navbar-nav li:hover > a,
.navbar-nav li .sfHover > a {
  color: #14b1bb;
}
.navbar-nav ul.sub-menu li > a:hover {
  color: #14b1bb;
}
.navbar-nav ul.sub-menu li:hover .navbar-nav ul.sub-menu li.sfHover > a {
  color: #14b1bb;
}
.navbar-nav ul.sub-menu li.current-menu-item > a {
  color: #14b1bb;
}
@media (max-width: 767px){
.navbar-brand img{
	max-height: 74px;
}

body.boxed-layout .site {
    margin: 0 auto;
    position: relative;
    padding: 0px 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.4);
    box-shadow: 0 0 7px rgba(0,0,0,.4);
    width: 100%; 
    max-width: 1200px;
}
}


@media (min-width: 768px) {
  body.page-menu-transparent .navbar:not(.navbar-fixed-top) .navbar-nav > li > a:hover {
    color: #14b1bb;
  }
}
.wigetized .widget a:hover {
  color: #14b1bb;
}
.wigetized .widget ul li a:hover,
.wigetized .widget ol li a:hover {
  color: #14b1bb;
}
.wigetized .widget.widget_recent_entries li a:hover {
  color: #14b1bb;
}
.colophon.site-info .footer-menu .noo-menu li a:hover {
  color: #14b1bb;
}
.colophon.site-info .footer-more a:hover {
  color: #14b1bb;
}
.noo-page-heading .page-title .count {
  background-color: #14b1bb;
}
.label-primary {
  background-color: #14b1bb;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #14b1bb;
}
.progress-bar {
  background-color: #14b1bb;
}
.hentry.format-quote a:hover,
.hentry.format-link a:hover {
  color: #14b1bb !important;
}
.single .hentry.format-quote .content-title:hover,
.single .hentry.format-link .content-title:hover {
  color: #14b1bb !important;
}
.single .hentry.format-quote a:hover,
.single .hentry.format-link a:hover {
  color: #14b1bb !important;
}
.content-thumb:before {
  background: #14b1bb;
}
.content-meta > span > a:hover {
  color: #14b1bb;
}
.read-more {
  background-color: #14b1bb;
}
.read-more:hover,
.read-more:focus,
.read-more:active,
.read-more.active,
.open > .dropdown-toggle.read-more {
  background-color: #14b1bb;
}
.single-noo-portfolio .attribute-list > li a:hover {
  color: #14b1bb;
}
.post-navigation .prev-post {
  background: #14b1bb;
}
.post-navigation .next-post {
  background: #14b1bb;
}
.single .sticky_post {
  color: #14b1bb;
}
h2.comments-title span {
  color: #14b1bb;
}
.comment-author a:hover {
  color: #14b1bb;
}
.comment-reply-link:hover {
  color: #14b1bb;
}
.form-submit input[type="submit"] {
  background-color: #14b1bb;
}
.form-submit input[type="submit"]:hover,
.form-submit input[type="submit"]:focus,
.form-submit input[type="submit"]:active,
.form-submit input[type="submit"].active,
.open > .dropdown-toggle.form-submit input[type="submit"] {
  background-color: #14b1bb;
}
.loadmore-loading span {
  background: #14b1bb;
}
.pagination .page-numbers:hover:not(.disabled),
.pagination .page-numbers.current:not(.disabled) {
  background: #14b1bb;
}
.noo-slider.testimonial-slide .slider-indicators a.selected {
  border: 2px solid #14b1bb;
}
.noo-slider.about-slider .slider-control:hover {
  background: #14b1bb;
}
.masonry-header .masonry-filters ul li a:hover,
.masonry-header .masonry-filters ul li a.selected {
  color: #14b1bb;
}
.noo-pricing-table .noo-pricing-column .pricing-content .pricing-header .pricing-value .noo-price {
  border: 5px solid #14b1bb;
}
.noo-pricing-table .noo-pricing-column .pricing-content .pricing-info ul li i {
  color: #14b1bb;
}
.noo-pricing-table.ascending .noo-pricing-column.featured .pricing-content .pricing-footer .btn,
.noo-pricing-table.ascending .noo-pricing-column.featured .pricing-content .pricing-footer .widget_newsletterwidget .newsletter-submit {
  border-color: #14b1bb !important;
  color: #14b1bb !important;
}
.noo-member .member-avatar .member-social a:hover {
  color: #14b1bb;
}
.single-noo_job .job-desc ul li:before,
.single-noo_job .more-jobs ul li:before {
  color: #14b1bb;
}
.gmap-loading .gmap-loader > div {
  background: none repeat scroll 0 0 #14b1bb;
}
.navbar-nav li.menu-item-post-btn > a,
.navbar-nav li.menu-item-post-btn > a:hover {
  background-color: #14b1bb;
}
.navbar-nav li.menu-item-post-btn > a:hover,
.navbar-nav li.menu-item-post-btn > a:hover:hover,
.navbar-nav li.menu-item-post-btn > a:focus,
.navbar-nav li.menu-item-post-btn > a:hover:focus,
.navbar-nav li.menu-item-post-btn > a:active,
.navbar-nav li.menu-item-post-btn > a:hover:active,
.navbar-nav li.menu-item-post-btn > a.active,
.navbar-nav li.menu-item-post-btn > a:hover.active,
.open > .dropdown-toggle.navbar-nav li.menu-item-post-btn > a,
.open > .dropdown-toggle.navbar-nav li.menu-item-post-btn > a:hover {
  background-color: #14b1bb;
}
.login-form-links > span a,
.login-form-links > span .fa,
.login-form-links > span .noo-vc-accordion .panel-title a:before {
  color: #14b1bb;
}
.jsteps li.completed .jstep-num a:before,
.jsteps li.active .jstep-num a:before {
  border: 14px solid #14b1bb;
}
.account-actions a:hover,
.account-actions a.active {
  background: #14b1bb;
  border-color: #14b1bb;
}
.jpanel-title {
  background: #14b1bb;
}
.member-manage .table tbody tr:hover a:not(.btn-primary):hover {
  color: #14b1bb;
}
.add-new-location a {
  color: #14b1bb;
}
.job-application-status.job-application-status-pending,
.job-application-status.job-application-status-PendingApproval {
  background: #14b1bb;
}
.job-action a.bookmark-job i:hover {
  color: #14b1bb;
}
.job-action a.bookmark-job.bookmarked {
  color: #14b1bb;
}
.job-social a.company_website {
  color: #14b1bb;
}
.job-social a.company_website span {
  border-bottom: 1px dotted #14b1bb;
  color: #14b1bb;
}
.resume .title-general span {
  color: #14b1bb;
}
.download a {
  color: #14b1bb;
  border-bottom: 1px dashed #14b1bb;
}
.featured_slider .page a.selected {
  background: #14b1bb;
}
a:hover,a:focus,h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,.h1 a:hover,.h2 a:hover,.h3 a:hover,.h4 a:hover,.h5 a:hover,.h6 a:hover {
  color:#14b1bb;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .h1 a:hover, .h2 a:hover, .h3 a:hover, .h4 a:hover, .h5 a:hover, .h6 a:hover, a:hover, a:focus, .text-primary, a.text-primary:hover, .noo-menu li>a:hover, .noo-menu li>a:active, .noo-menu li.current-menu-item>a, body.page-menu-transparent .navbar:not(.navbar-fixed-top) .navbar-nav>li>a:hover, .navbar-nav li>a:hover, .navbar-nav li>a:focus, .navbar-nav li:hover>a, .navbar-nav li.sfHover>a, .navbar-nav li.current-menu-item>a {
  color: #14b1bb;
}
.read-more, .read-more:hover, .noo-page-heading .page-title .count, .posts-loop.grid.staffs .loop-item-title:before, .jpanel-title, .commerce ul.products li.product figure .product-wrap .shop-loop-actions .button:hover, .commerce ul.products li.product figure .product-wrap .shop-loop-actions .shop-loop-quickview:hover, .commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .add_to_wishlist:hover, .commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .add_to_wishlist:hover:before, .commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:hover, .commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:hover, .commerce .widget_layered_nav ul li.chosen a:hover, .btn-primary, .form-submit input[type="submit"], .wpcf7-submit, .widget_newsletterwidget .newsletter-submit, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .form-submit input[type="submit"]:hover, .form-submit input[type="submit"]:focus, .btn-primary.active, .wpcf7-submit:hover, .progress-bar, .noo-step-icon .noo-step-icon-item:after, .noo-step-icon .noo-step-icon-item:before {
  background-color:#14b1bb;
}
 .noo-step-icon .noo-step-icon-item:after, .noo-step-icon .noo-step-icon-item:before{
	  background-color: #eeeeee;
 }
.bg-primary,.navbar-nav li.menu-item-post-btn>a,.navbar-nav li.menu-item-post-btn>a:hover,.navbar-nav li.menu-item-post-btn>a:focus,.navbar-nav li.menu-item-post-btn>a:hover:hover {
	background-color:#14b1bb;
}
@media (min-width: 992px) {
.navbar-default .navbar-nav.sf-menu>li>ul.sub-menu {
	border-top-color:#14b1bb;
}

.navbar-default .navbar-nav.sf-menu>li>ul.sub-menu:before,.navbar-nav.sf-menu>li.align-center>ul.sub-menu:before,.navbar-nav.sf-menu>li.align-right>ul.sub-menu:before,.navbar-nav.sf-menu>li.align-left>ul.sub-menu:before,.navbar-nav.sf-menu>li.full-width.sfHover>a:before {
	border-bottom-color:#14b1bb;
}
}
.posts-loop.slider .loop-thumb-content .carousel-indicators li.active {
	background-color:#14b1bb;
	border-color:#14b1bb;
}

.download a,.job-social a.company_website span {
	border-bottom-color:#14b1bb;
	color:#14b1bb;
}
.content-meta>span>a:hover,.hentry.format-quote a:hover,.hentry.format-link a:hover,.single .hentry.format-quote .content-title:hover,.single .hentry.format-link .content-title:hover,.single .hentry.format-quote a:hover,.single .hentry.format-link a:hover,.sticky h2.content-title:before {
	color:#14b1bb!important;
}
.account-actions a.active {
	background-color:#14b1bb;
}
.navbar-nav ul.sub-menu li>a:hover,.navbar-nav ul.sub-menu li>a:focus,.navbar-nav ul.sub-menu li:hover>a,.navbar-nav ul.sub-menu li.sfHover>a,.navbar-nav ul.sub-menu li.current-menu-item>a,.posts-loop.grid .event-info a:hover,.posts-loop.grid.staffs .loop-item-title a,.job-action a.bookmark-job i:hover,.job-action a.bookmark-job.bookmarked,.resume .title-general span,.member-manage .table tbody tr:hover a:not(.btn-primary):hover,.noo-pricing-table .noo-pricing-column .pricing-content .pricing-info ul li i,.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions a:hover,.woocommerce ul.products li.product figcaption .product_title a:hover,h2.comments-title span,.comment-reply-link,.comment-author a:hover,.wigetized .widget a:hover,.wigetized .widget ul li a:hover,.wigetized .widget ol li a:hover,.wigetized .widget.widget_recent_entries li a:hover,.btn-link:hover,.btn-link:focus,.noo-social a:hover,.login-form-links>span a,.login-form-links>span .fa,.form-control-flat>.radio i,.form-control-flat>.checkbox i {
	color:#14b1bb;
}
.noo-step-icon .noo-step-icon-class:hover{
 opacity: 0.8;
}
.noo-pricing-table .noo-pricing-column .pricing-content .pricing-header .pricing-value .noo-price,.jsteps li.completed .jstep-num a:before,.jsteps li.active .jstep-num a:before,.noo-step-icon .noo-step-icon-class:after {
	border-color:#eeeeee;
}

.noo-pricing-table .noo-pricing-column .pricing-content .pricing-header .pricing-value .noo-price,.jsteps li.completed .jstep-num a:before,.jsteps li.active .jstep-num a:before,.noo-step-icon .noo-step-icon-class:after {
	border-color:#eeeeee;
}

.content-thumb:before,.entry-tags a:hover,.pagination .page-numbers:hover:not(.disabled),.pagination .page-numbers.current:not(.disabled),.post-navigation .prev-post,.post-navigation .next-post,.loadmore-loading span,.form-control-flat .radio i:after {
	background:#14b1bb;
}



.cuadro_intro_hover{
    	padding: 0px;
		position: relative;
		overflow: hidden;
		height: 200px;
	}
	.cuadro_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-150px);
		-webkit-transform:translateY(-150px);
		-moz-transform:translateY(-150px);
		-ms-transform:translateY(-150px);
		-o-transform:translateY(-150px);
	}
	.cuadro_intro_hover img{
		z-index: 4;
	}
	.cuadro_intro_hover .caption{
		position: absolute;
		top:150px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
	}
	.cuadro_intro_hover .blur{
		background-color: rgba(0,0,0,0.7);
		height: 300px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.cuadro_intro_hover .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		height: 300px;
		text-align: center;
		top:-20px;
		width: 100%;
	}